<div class="row">
    <div class="col-md-6 m-auto">
        <div class="container mt-5 pl-5">
            <h2 class="text-center">Create new account</h2>
            <form action="/signup" method="post" >
                <div class="form-group">
                    <label>Name</label>
                    <input type="text" id="Name" class="form-control" onkeyup="validateName()" name="Name" placeholder="Enter Name">
                    <span id="nameerr" class="text-danger"></span>

                </div>
                <div class="form-group">
                    <label>Email address</label>
                    <input type="email" id="Email" class="form-control" onkeyup="validEmail()" name="Email" placeholder="Enter email">
                    <span id="emailerr" class="text-danger"></span>
                    
                </div>
                <div class="form-group">
                    <label>Password</label>
                    <input type="Password" id="Password" class="form-control" onkeyup="validPassowrd()" name="Password" placeholder="Password">
                    <span id="passworderr" class="text-danger"></span>
                </div>
                <a href="/signup">Already have account ?</a>
                <button type="submit" class="btn btn-primary float-right" onclick="return validation()">SignUp</button>
            </form>
        </div>
    </div>
</div>

<script>
    var errorName = document.getElementById('nameerr')
    var errorEmail = document.getElementById('emailerr')
    var errorPassword = document.getElementById('passworderr')
    function validateName() {
        const name = document.getElementById('Name').value;
        if (name == "") {
            errorName.innerHTML = 'Enter your Name'
            return false
        }
        if (!name.match(/^[a-zA-Z]*$/)) {
            errorName.innerHTML = 'Number are not allowed'
            return false
        }
        errorName.innerHTML = null
        return true

    }
    function validEmail() {
        const name = document.getElementById('Email').value
        if (name == "") {
            errorEmail.innerHTML = "enter you email address"
            return false


        }
        if (!name.match(/^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$/)) {
            errorEmail.innerHTML = 'enter a proper email adress'
            return false
        }

        errorEmail.innerHTML = null
        return true
    }

    function validPassowrd() {
        const name = document.getElementById('Password').value
        if (name == "") {
            errorPassword.innerHTML = "enter a password"
            return false
        }
        if (name.length < 2) {
            errorPassword.innerHTML = "password should be more than one characters"
            return false
        }
        errorPassword.innerHTML = null
        return true
    }


    function validation() {
        if (!validateName() || !validEmail() || !validPassowrd()) {
            return false
        }
        return true
    }
</script>